extends ./_layout
include ./mixin/pagination

block main
  form.box( method= "GET", action= "/customers" )
    div.box-row
      img( src= "/images/icons/filter.svg", alt= "Filter" )
      input(
        type= "text", name= "search", value= query && query.search
        placeholder= t( 'generic.filter.search' )
      )
      button.icon( type= "submit", title= t( 'generic.filter.filter' ) )
        img( src= "/images/icons/search.svg", alt= t( 'generic.filter.filter' ) )
      a( href= "/customers", title= t( 'generic.filter.clear' ) )
        img( src= "/images/icons/clear.svg", alt= t( 'generic.filter.clear' ) )

  div.box
    table#customers
      thead
        tr
          th= t( 'customers.table.nick' )
          th= t( 'customers.table.name' )
          th.right= t( 'customers.table.count' )
          th.right= t( 'customers.table.revenue' )
          th.right= t( 'customers.table.profit' )
          th.right= t( 'customers.table.margin' )
      tbody
        each customer in data
          tr
            td: a(
              href= '/customer?nick=' + customer.data.nick
            )= '@' + customer.data.nick
            td= customer.data.name || '—'
            td.right: number= customer.stats.orderCount
            td.right: money= customer.stats.totalRevenue
            td.right: money= customer.stats.totalProfit
            td.right: pct= customer.stats.profitMargin

  if pagination
    +pagination( query, pagination.max, pagination.limit, pagination.offset )
