extends ./_layout
include ./mixin/nav

block main
  div.box
    div.box-row
      h2= t( 'customer.title' )
      +icon_nav( [
        { path: '/export?customer=' + data.data.nick, label: t( 'generic.action.export' ), icon: 'download.svg' },
        { path: '/orders?search=' + data.data.nick, label: t( 'customer.action.orders' ), icon: 'table.svg' }
      ] )

  div.column
    div.box
      h3= t( 'customer.data.label' )
      div.box-col
        each val, key in data.data
          div.box-row
            span= t( 'customer.data.' + key )
            strong= val || '—'

    div.box
      h3= t( 'customer.data.addresses' )
      if data.addresses.length > 0
        div.box-col
          each address in data.addresses
            - var countryName = getName( langISO, address.country, { select: 'official' } )
            div.box-row
              span!= address.street + '<br />' + address.zipCode + ' ' + address.city + '<br />' + countryName
      else
        span= t( 'customer.data.noAddresses' )

    div.box
      h3= t( 'customer.finance.label' )
      div.box-col
        div.box-row
          span= t( 'customer.finance.orderCount' )
          strong: number= data.stats.orderCount
        div.box-row
          span= t( 'customer.finance.itemCount' )
          strong: number= data.stats.itemCount
        div.box-row
          span= t( 'customer.finance.revenue' )
          strong: money= data.stats.totalRevenue
        div.box-row
          span= t( 'customer.finance.refund' )
          strong: money= data.stats.totalRefund
        div.box-row
          span= t( 'customer.finance.profit' )
          strong: money= data.stats.totalProfit
        div.box-row
          span= t( 'customer.finance.margin' )
          strong: pct= data.stats.profitMargin
