extends ./_layout
include ./mixin/nav

block main
  div.box
    div.box-row
      h2 Kundendaten
      +icon_nav( [
        { path: '/export?customer=' + data.data.nick, label: 'Exportieren', icon: 'download.svg' },
        { path: '/orders?search=' + data.data.nick, label: 'Bestellungen', icon: 'table.svg' }
      ] )

  div.column
    div.box
      h3 Stammdaten
      div.box-col
        div.box-row
          span Benutzername:
          strong= data.data.nick
        div.box-row
          span Name:
          strong= data.data.name
        div.box-row
          span E-Mail:
          strong= data.data.mail
        if data.data.tel
          div.box-row
            span Telefon:
            strong= data.data.tel

    div.box
      h3 Adressen
      if data.addresses.length > 0
        each address in data.addresses
          div.box-row
            span= address.street + ', ' + address.zipCode + ' ' + address.city
      else
        span (keine Adressen angegeben)

    div.box
      h3 Umsatz
      div.box-col
        div.box-row
          span Anzahl d. Bestellungen:
          strong: number= data.stats.orderCount
        div.box-row
          span Bestellte Artikel:
          strong: number= data.stats.itemCount
        div.box-row
          span Gesamtumsatz:
          strong: money= data.stats.totalRevenue
        div.box-row
          span Rückerstattung:
          strong: money= data.stats.totalRefund
        div.box-row
          span Gewinn:
          strong: money= data.stats.totalProfit
        div.box-row
          span Gewinnmarge:
          strong: pct= data.stats.profitMargin
