extends ./_layout

block main
  form( method= "POST" action= "/form", enctype= "multipart/form-data" )
    if data && data.__uuid
      input( type= "hidden", name= "__uuid", value= data.__uuid )

    div.box
      h3 Bestelldaten
      div.box-row
        input(
          type= "text", name= "orderNumber", required,
          placeholder= t( 'form.form.number' ),
          value= data && data.orderNumber
        )
        input(
          type= "text", name= "recordNumber", required,
          placeholder= t( 'form.form.record' ),
          value= data && data.recordNumber
        )
        input(
          type= "date", name= "orderDate", required,
          value= data && data.orderDate
        )

    div.column
      div.box
        h3= t( 'form.form.invoice' )
        if data && data.invoicePDF
          span= t( 'form.form.invoiceExists' )
        else
          input( type= "file", name= "invoicePDF", accept= ".pdf" )

      div.box
        h3= t( 'form.form.shipping' )
        div.box-col
          - var orderType = data && data.orderType
          select( name= "orderType", required )
            each type in [ 'shipping', 'pickup' ]
              option( value= type, selected= ( orderType == type ) )= t( 'form.form.' + type )
          input(
            type= "number", name= "shipping", required,
            placeholder= t( 'form.form.shippingCosts', { currency } ), min= 0, step= 0.01,
            value= data && data.shipping
          )

      div.box
        h3= t( 'form.form.profitAndFees' )
        div.box-col
          each field in [ 'revenue', 'fees', 'refund', 'profit' ]
            input(
              type= "number", name= field, required,
              placeholder= t( 'form.form.' + field, { currency } ),
              min= 0, step= 0.01, value= data && data[ field ]
            )

      div.box
        h3= t( 'form.form.customer' )
        div.box-col
          - var customer = data?.customer || {}
          - var address = customer?.address || {}
          input(
            type= "text", name= "customer.nick", required,
            placeholder= t( 'form.form.customerNick' ),
            value= customer.nick || ''
          )
          input(
            type= "text", name= "customer.name",
            placeholder= t( 'form.form.customerName' ),
            value= customer.name || ''
          )
          input(
            type= "tel", name= "customer.tel",
            placeholder= t( 'form.form.customerTel' ),
            value= customer.tel || ''
          )
          input(
            type= "email", name= "customer.mail",
            placeholder= t( 'form.form.customerMail' ),
            value= customer.mail || ''
          )
          h4= t( 'form.form.address' )
          input(
            type= "text", name= "customer.address.street",
            placeholder= t( 'form.form.addressStreet' ),
            value= address.street || ''
          )
          div.box-row
            input(
              type= "text", name= "customer.address.zipCode",
              placeholder= t( 'form.form.addressZipCode' ),
              value= address.zipCode || ''
            )
            input(
              type= "text", name= "customer.address.city",
              placeholder= t( 'form.form.addressCity' ),
              value= address.city || ''
            )
          - var country = address.country || 'de'
          select( name= "customer.address.country", required )
            each label, key in countries
              option( value= key, selected= ( country == key ) )= label

    div.box
      h3= t( 'form.form.article' )
      div.box-col
        each val in [ 0, 1, 2, 3, 4, 5, 6, 7 ]
          div.box-col
            div.box-row
              - var article = data?.article?.[ val ] || {}
              input(
                type= "text", name= `article.number[${val}]`,
                placeholder= t( 'form.form.articleNumber' ),
                value= article.number || ''
              )
              input(
                type= "text", name= `article.name[${val}]`,
                placeholder= t( 'form.form.articleName' ),
                value= article.name || ''
              )
              input(
                type= "number", name= `article.quantity[${val}]`,
                placeholder= t( 'form.form.articleQuantity' ),
                min= 1, max= 99, step= 1, value= article.quantity || ''
              )
              input(
                type= "number", name= `article.price[${val}]`,
                placeholder= t( 'form.form.articlePrice', { currency } ),
                min= 0, step= 0.01, value= article.price || ''
              )
              input(
                type= "number", name= `article.fee[${val}]`,
                placeholder= t( 'form.form.articleFee', { currency } ),
                min= 0, step= 0.01, value= article.fee || ''
              )

    div.box-row
      button( type= "submit" )= t( 'generic.form.submit' )
      button( onclick= "location.href='/orders'", class= "alert" )= t( 'generic.form.abort' )
