extends ./_layout

block main
  form( method= "POST" action= "/form" )
    div.box
      h3 Bestelldaten
      div.box-row
        input(
          type= "text", name= "orderNumber", required,
          placeholder= "Bestellnummer",
          value= data ? data.orderNumber : ''
        )
        input(
          type= "text", name= "recordNumber", required,
          placeholder= "Verkaufsprotokoll",
          value= data ? data.recordNumber : ''
        )
        input(
          type= "date", name= "orderDate", required,
          value= data ? data.orderNumber : ''
        )

    div.column
      div.box
        h3 Kundendaten
        div.box-col
          input(
            type= "text", name= "customer.nick", required,
            placeholder= "Benutzername",
            value= data && data.customer ? data.customer.nick : ''
          )
          input(
            type= "text", name= "customer.name", required,
            placeholder= "Name (Realname)",
            value= data && data.customer ? data.customer.name : ''
          )
          input(
            type= "tel", name= "customer.tel",
            placeholder= "Telefonnummer",
            value= data && data.customer ? data.customer.tel : ''
          )
          input(
            type= "email", name= "customer.mail", required,
            placeholder= "E-Mail-Adresse",
            value= data && data.customer ? data.customer.mail : ''
          )
          h4 Lieferanschrift (bei Versand)
          input(
            type= "text", name= "customer.address.street",
            placeholder= "Straße + Hausnr.",
            value= data && data.customer && data.customer.address ? data.customer.address.street : ''
          )
          div.box-row
            input(
              type= "text", name= "customer.address.zipCode",
              placeholder= "PLZ",
              value= data && data.customer && data.customer.address ? data.customer.address.zipCode : ''
            )
            input(
              type= "text", name= "customer.address.city",
              placeholder= "Ort",
              value= data && data.customer && data.customer.address ? data.customer.address.city : ''
            )
          - var country = data && data.customer && data.customer.address ? data.customer.address.country : 'de'
          select( name= "customer.address.country", required )
            option( value= "de", selected= ( country == 'de' ) ) Deutschland

      div.box
        h3 Versand
        div.box-col
          - var orderType = data && data.orderType ? data.orderType : 'shipping'
          select( name= "orderType", required )
            option( value= "shipping", selected= ( orderType == 'shipping' ) ) Versand
            option( value= "pickup", selected= ( orderType == 'pickup' ) ) Abholung
          input(
            type= "number", name= "shipping", required,
            placeholder= "Versandkosten / Abholgebühr [€]", min= 0, step= 0.01,
            value= data ? data.shipping : ''
          )

      div.box
        h3 Umsatz &amp; Gebühren
        div.box-col
          input(
            type= "number", name= "revenue", required,
            placeholder= "Umsatz / Gesamtbetrag [€]", min= 0, step= 0.01,
            value= data ? data.revenue : ''
          )
          input(
            type= "number", name= "fees", required,
            placeholder= "Gebühren (Werbekosten) [€]", min= 0, step= 0.01,
            value= data ? data.fees : ''
          )
          input(
            type= "number", name= "refund",
            placeholder= "Rückerstattung [€]", min= 0, step= 0.01,
            value= data ? data.refund : ''
          )
          input(
            type= "number", name= "profit", required,
            placeholder= "Bestelleinnahmen [€]", min= 0, step= 0.01,
            value= data ? data.profit : ''
          )

    div.box
      h3 Artikel
      div.box-col
        each val in [ 1, 2, 3, 4, 5, 6, 7, 8 ]
          div.box-col
            div.box-row
              input(
                type= "text", name= `article[${val}].number`,
                placeholder= "Artikelnr.",
                value= data && data.article && data.article[ val ] ? data.article[ val ].number : ''
              )
              input(
                type= "text", name= `article[${val}].name`,
                placeholder= "Name",
                value= data && data.article && data.article[ val ] ? data.article[ val ].name : ''
              )
              input(
                type= "number", name= `article[${val}].quantity`,
                placeholder= "Menge", min= 1, max= 99, step= 1,
                value= data && data.article && data.article[ val ] ? data.article[ val ].quantity : ''
              )
              input(
                type= "number", name= `article[${val}].price`,
                placeholder= "Artikelpreis [€]", min= 0, step= 0.01,
                value= data && data.article && data.article[ val ] ? data.article[ val ].price : ''
              )
              input(
                type= "number", name= `article[${val}].fee`,
                placeholder= "Gebühren [€]", min= 0, step= 0.01,
                value= data && data.article && data.article[ val ] ? data.article[ val ].fee : ''
              )
              - var commission = data && data.article && data.article[ val ] ? data.article[ val ].commission : ''
              select( name= `article[${val}].commission` )
                option( disabled, selected ) Kommission?

    div.box-row
      button( type= "submit" ) Speichern
      button( onclick= "location.href='/orders'", class= "alert" ) Abbrechen
