extends ./_base

block title
  title= t( 'generic.title', { site: t( 'auth._meta.title' ) } )

block styles
  link( rel= "stylesheet", href= "/css/login.min.css" )

block content
  if error
    div.login-error.noselect
      span= error

  div.login-container.noselect
    h2
      img( src= "/images/favicon.svg", alt= t( 'generic.name' ) )
      span= t( 'generic.name' )
    form( method= "POST" action= "/login" )
      label( for="username" )= t( 'auth.form.username' )
      input( type="text" id="username" name="username" required )
      label( for="password" )= t( 'auth.form.password' )
      input( type="password" id="password" name="password" required )
      button( type="submit" )= t( 'auth.form.submit' )

  div.login-credits!= t( 'generic.credits' )
