extends ./_layout

block main
  div.box
    div.box-row
      h2 Bestellübersicht ##{data.orderNumber}
      a( href= `/form?uuid=${data.__uuid}`, title= "Bearbeiten" )
        img( src= "/images/icons/edit.svg", alt= "Bearbeiten" )
      a( href= `/del?uuid=${data.__uuid}`, title= "Löschen" )
        img( src= "/images/icons/trash.svg", alt= "Löschen" )

  div.column
    div.box
      h3 Bestelldaten
      div.box-col
        div.box-row
          span Bestellnummer:
          strong= data.orderNumber
        div.box-row
          span Verkaufsprotokoll:
          strong= data.recordNumber
        div.box-row
          span Bestelldatum:
          strong: date= data.orderDate
        if data.invoicePDF
          div.box-row
            span Rechnung:
            a( href= `/upload/${data.invoicePDF}`, target= "_blank" ) PDF anzeigen

    div.box
      h3 Umsatz &amp; Gebühren
      div.box-col
        div.box-row
          span Umsatz (zzgl. Versand):
          strong: money= data.revenue
        div.box-row
          span Versandkosten:
          strong: money= data.shipping
        div.box-row
          span Gebühren (Werbekosten):
          strong: money= data.fees
        if data.refund
          div.box-row
            span Rückerstattung:
            strong: money= data.refund
        hr
        div.box-row
          span Bestelleinnahmen:
          strong: money= data.profit
