extends ./_layout
include ./mixin/pagination

block main
  form.box( method= "GET", action= "/orders" )
    div.box-row
      img( src= "/images/icons/filter.svg", alt= t( 'generic.filter.filter' ) )
      input(
        type= "text", name= "search", value= query && query.search
        placeholder= t( 'generic.filter.search' )
      )
      span= t( 'generic.filter.range' )
      input( type= "date", name= "from", value= query && query.from )
      input( type= "date", name= "to", value= query && query.to )
      button.icon( type= "submit", title= t( 'generic.filter.filter' ) )
        img( src= "/images/icons/search.svg", alt= t( 'generic.filter.filter' ) )
      a( href= "/orders", title= t( 'generic.filter.clear' ) )
        img( src= "/images/icons/clear.svg", alt= t( 'generic.filter.clear' ) )

  div.box
    table#orders
      thead
        tr
          th= t( 'orders.table.orderNumber' )
          th= t( 'orders.table.orderDate' )
          th= t( 'orders.table.customer' )
          th= t( 'orders.table.orderType' )
          th.right= t( 'orders.table.revenue' )
          th.right= t( 'orders.table.fees' )
          th.right= t( 'orders.table.shipping' )
          th.right= t( 'orders.table.profit' )
      tbody
        each order in data
          tr
            td: a(
              href= '/order?uuid=' + order.__uuid
            )= '#' + order.orderNumber
            td: date= order.orderDate
            td= ( order.customer.name || '—' ) + ' (@' + order.customer.nick + ')'
            td= t( 'orders.table.' + order.orderType )
            td.right: money= order.revenue
            td.right: money= order.fees
            td.right: money= order.shipping
            td.right: b: money= order.profit

  if pagination
    +pagination( query, pagination.max, pagination.limit, pagination.offset )
