extends ./_layout
include ./mixin/map
include ./mixin/nav

append scripts
  script( src= "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" )
  script( src= "/js/map.min.js", defer )

append styles
  link( rel= "stylesheet" href= "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" )

block main
  div.box
    div.box-row
      h2= t( 'order.title', { order: data.orderNumber } )
      if data.invoicePDF
        +icon_nav( [
          { path: '/upload/' + data.invoicePDF, label: t( 'order.action.invoice' ), icon: 'report.svg' }
        ] )
      +icon_nav( [
        { path: '/export?uuid=' + data.__uuid, label: t( 'generic.action.export' ), icon: 'download.svg' },
        { path: '/form?uuid=' + data.__uuid, label: t( 'generic.action.edit' ), icon: 'tool.svg' },
        { path: '/delete?uuid=' + data.__uuid, label: t( 'generic.action.delete' ), icon: 'trash.svg' }
      ] )

  div.column
    div.box
      h3= t( 'order.data.info' )
      div.box-col
        div.box-row
          span= t( 'order.data.number' )
          strong= data.orderNumber
        div.box-row
          span= t( 'order.data.record' )
          strong= data.recordNumber
        div.box-row
          span= t( 'order.data.date' )
          strong: date= data.orderDate

    div.box
      h3= t( 'order.data.finance' )
      div.box-col
        div.box-row
          span= t( 'order.data.revenue' )
          strong: money= data.revenue
        div.box-row
          span= t( 'order.data.shipping' )
          strong: money= data.shipping
        div.box-row
          span= t( 'order.data.fees' )
          strong: money= data.fees
        if data.refund
          div.box-row
            span= t( 'order.data.refund' )
            strong: money= data.refund
        hr
        div.box-row
          span= t( 'order.data.profit' )
          strong: money= data.profit

    if data.customer
      div.box
        h3= t( 'order.data.customer' )
        div.box-col
          div.box-row
            span= t( 'order.data.nick' )
            strong: a( href= '/customer?nick=' + data.customer.nick )= data.customer.nick
          div.box-row
            span= t( 'order.data.name' )
            strong= data.customer.name
          div.box-row
            span= t( 'order.data.mail' )
            strong= data.customer.mail
          if data.customer.tel
            div.box-row
              span= t( 'order.data.tel' )
              strong= data.customer.tel

      if data.customer.address && data.location
        - var { street, zipCode, city, country } = data.customer.address
        - var countryName = getName( langISO, country, {select: 'official' } )
        div.box
          h3= t( 'order.data.address' )
          +map( [ { ...data.location, ...{
            type: data.orderType, uuid: data.__uuid,
            number: data.orderNumber,
            name: data.customer.name,
            address: data.customer.address,
            country: countryName
          } } ] )
          div.box-row
            span!= street + ', ' + zipCode + ' ' + city + '<br />' + countryName

  if data.article && data.article.length
    div.box
      table
        thead
          tr
            th= t( 'order.table.number' )
            th= t( 'order.table.name' )
            th.right= t( 'order.table.quantity' )
            th.right= t( 'order.table.price' )
            th.right= t( 'order.table.fee' )
            th.right= t( 'order.table.profit' )
        tbody
          each article in data.article
            tr
              td: number= article.number
              td= article.name
              td.right: number= article.quantity
              td.right: money= article.price
              td.right: money= article.fee
              td.right: money= ( article.price * article.quantity ) - ( article.fee || 0 )
