extends ./_layout
include ./mixin/pagination
include ./mixin/table

block main
  form.box( method= "GET", action= "/orders" )
    div.box-row
      img( src= "/images/icons/filter.svg", alt= t( 'generic.filter.filter' ) )
      input(
        type= "text", name= "search", value= query && query.search
        placeholder= t( 'generic.filter.search' )
      )
      span= t( 'generic.filter.range' )
      input( type= "date", name= "from", value= query && query.from )
      input( type= "date", name= "to", value= query && query.to )
      button.icon( type= "submit", title= t( 'generic.filter.filter' ) )
        img( src= "/images/icons/search.svg", alt= t( 'generic.filter.filter' ) )
      a( href= "/orders", title= t( 'generic.filter.clear' ) )
        img( src= "/images/icons/clear.svg", alt= t( 'generic.filter.clear' ) )

  div.box
    table#orders
      +table_header( [
        { label: t( 'orders.table.orderNumber' ), sort: 'orderNumber' },
        { label: t( 'orders.table.orderDate' ), sort: 'orderDate' },
        { label: t( 'orders.table.customer' ), sort: 'customer.nick' },
        { label: t( 'orders.table.orderType' ), sort: 'orderType' },
        { label: t( 'orders.table.revenue' ), sort: 'revenue', class: 'right' },
        { label: t( 'orders.table.fees' ), sort: 'fees', class: 'right' },
        { label: t( 'orders.table.shipping' ), sort: 'shipping', class: 'right' },
        { label: t( 'orders.table.profit' ), sort: 'profit', class: 'right' }
      ], query, 'orderDate', 'desc' )
      tbody
        each order in data
          tr
            td: a(
              href= '/order?uuid=' + order.__uuid
            )= '#' + order.orderNumber
            td: date= order.orderDate
            td= ( order.customer.name || '—' ) + ' (@' + order.customer.nick + ')'
            td= t( 'orders.table.' + order.orderType )
            td.right: money= order.revenue
            td.right: money= order.fees
            td.right: money= order.shipping
            td.right: b: money= order.profit

  if pagination
    +pagination( query, pagination.max, pagination.limit, pagination.offset )
