extends ./_layout
include ./mixin/pagination

block main
  form.box( method= "GET", action= "/orders" )
    div.box-row
      img( src= "/images/icons/filter.svg", alt= "Filter" )
      input(
        type= "text", name= "search", value= query && query.search
        placeholder= "Suche nach …"
      )
      span Zeitraum:
      input(
        type= "date", name= "from", value= query && query.from
        placeholder= "von"
      )
      input(
        type= "date", name= "to", value= query && query.to
        placeholder= "bis"
      )
      button.icon( type= "submit", title= "Filtern" )
        img( src= "/images/icons/search.svg", alt= "Filtern" )
      a( href= "/orders", title= "Filter löschen" )
        img( src= "/images/icons/clear.svg", alt= "Zurücksetzen" )

  div.box
    table#orders
      thead
        tr
          th Bestellnummer
          th Datum
          th Kunde
          th Typ
          th.right Umsatz
          th.right Gebühren
          th.right Versand
          th.right Gewinn
      tbody
        each order in data
          tr
            td: a(
              href= '/order?uuid=' + order.__uuid
            ): number= order.orderNumber
            td: date= order.orderDate
            td= order.customer.name + ' (@' + order.customer.nick + ')'
            td= { shipping: 'Versand', pickup: 'Abholung' }[ order.orderType ]
            td.right: money= order.revenue
            td.right: money= order.fees
            td.right: money= order.shipping
            td.right: b: money= order.profit

  if pagination
    +pagination( query, pagination.max, pagination.limit, pagination.offset )
