extends ./_layout
include ./mixin/nav

block main
  div.box
    div.box-row
      h2 Bestellübersicht ##{data.orderNumber}
      if data.invoicePDF
        +icon_nav( [
          { path: '/upload/' + data.invoicePDF, label: 'Rechnung', icon: 'report.svg' }
        ] )
      +icon_nav( [
        { path: '/export?uuid=' + data.__uuid, label: 'Herunterladen', icon: 'download.svg' },
        { path: '/form?uuid=' + data.__uuid, label: 'Bearbeiten', icon: 'tool.svg' },
        { path: '/delete?uuid=' + data.__uuid, label: 'Löschen', icon: 'trash.svg' }
      ] )

  div.column
    div.box
      h3 Bestelldaten
      div.box-col
        div.box-row
          span Bestellnummer:
          strong= data.orderNumber
        div.box-row
          span Verkaufsprotokoll:
          strong= data.recordNumber
        div.box-row
          span Bestelldatum:
          strong: date= data.orderDate

    div.box
      h3 Umsatz &amp; Gebühren
      div.box-col
        div.box-row
          span Umsatz (zzgl. Versand):
          strong: money= data.revenue
        div.box-row
          span Versandkosten:
          strong: money= data.shipping
        div.box-row
          span Gebühren (Werbekosten):
          strong: money= data.fees
        if data.refund
          div.box-row
            span Rückerstattung:
            strong: money= data.refund
        hr
        div.box-row
          span Bestelleinnahmen:
          strong: money= data.profit

    if data.customer
      div.box
        h3 Kundendaten
        div.box-col
          div.box-row
            span Benutzername:
            strong: a(
              href= 'https://ebay.de/usr/' + data.customer.nick,
              target= "_blank"
            )= data.customer.nick
          div.box-row
            span Name:
            strong= data.customer.name
          div.box-row
            span E-Mail:
            strong= data.customer.mail
          if data.customer.tel
            div.box-row
              span Telefon:
              strong= data.customer.tel

      if data.customer.address && data.location
        div.box
          h3 Adresse

  if data.article && data.article.length
    div.box
      table
        thead
          tr
            th Artikelnr.
            th Name
            th Kommission
            th.right Menge
            th.right Artikelpreis
            th.right Gebühren
            th.right Profit
        tbody
          each article in data.article
            tr
              td: number= article.number
              td= article.name
              td= article.commission || '—'
              td.right: number= article.quantity
              td.right: money= article.price
              td.right: money= article.fee
              td.right: money= article.price - article.fee
