extends ./_layout

block main
  if error
    div.box.alert.noselect
      strong= error
  if message
    div.box.ok.noselect
      strong= message

  form( method= "POST", action= "/settings" )
    - var user = data?.user || {}
    - var s = { ...{ currency: 'USD', lang: 'en-US', layer: 'carto' }, ...( user.settings || {} ) }

    div.column
      div.box
        h3= t( 'settings.form.info' )
        div.box-col
          input( type= "text", value= user.nick readonly )
          input(
            type= "email", name= "mail", required,
            placeholder= t( 'settings.form.mail' ),
            value= user.mail || ''
          )

      div.box
        h3= t( 'settings.form.password' )
        div.box-col
          input(
            type= "password", name= "password",
            placeholder= t( 'settings.form.passwordNew' )
          )
          input(
            type= "password", name= "passwordConfirm",
            placeholder= t( 'settings.form.passwordConfirm' )
          )

      div.box
        h3= t( 'settings.form.preferences' )
        div.box-col
          select( name= "currency" )
            option( value= "EUR", selected= ( s.currency == 'EUR' ) ) EUR
            option( value= "USD", selected= ( s.currency == 'USD' ) ) USD
            option( value= "GBP", selected= ( s.currency == 'GBP' ) ) GBP
            option( value= "CHF", selected= ( s.currency == 'CHF' ) ) CHF
          select( name= "lang" )
            option( value= "de-DE", selected= ( s.lang == 'de-DE' ) ) Deutsch
            option( value= "en-US", selected= ( s.lang == 'en-US' ) ) English
          select( name= "layer" )
            option( value= "carto", selected= ( s.layer == 'carto' ) ) Carto Light
            option( value= "osm", selected= ( s.layer == 'osm' ) ) OpenStreetMap

    div.box-row
      button( type= "submit" )= t( 'generic.form.submit' )
      button(
        type= "button", onclick= "location.href='/'",
        class= "alert"
      )= t( 'generic.form.abort' )
